<nav id="navbar">
  <div class="container nav-inner">
    <a href="/" class="nav-logo">Site<span>lya</span></a>
    <ul class="nav-links">
      <li><a href="/#come-lavoriamo">Come lavoriamo</a></li>
      <li><a href="/#portfolio">Portfolio</a></li>
      <li><a href="/#prezzi">Prezzi</a></li>
      <li><a href="/#contatti">Contatti</a></li>
    </ul>
    <a href="/#contatti" class="btn btn-primary nav-cta">Preventivo gratuito</a>
    <button class="hamburger" id="hamburger" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>

<!-- Mobile menu -->
<div id="mobile-menu">
  <a href="/#come-lavoriamo" class="mobile-link">Come lavoriamo</a>
  <a href="/#portfolio" class="mobile-link">Portfolio</a>
  <a href="/#prezzi" class="mobile-link">Prezzi</a>
  <a href="/#contatti" class="mobile-link">Contatti</a>
  <a href="/#contatti" class="btn btn-primary" style="margin-top:1rem">Preventivo gratuito</a>
</div>
